/* Write your code here. */
body {
  margin: 0px;
}

.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-heading {
  font-size: 30px;
  font-family: "Roboto";
}

.inner-bg-container {
  background-color: #cffafe;
  margin: 20px;
  min-height: 70vh;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
